# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python




# VS Code
.vscode/

# Mac
.DS_Store

# Logs
*.log

# Byte-compiled / optimized
*.pyc

# Virtualenv
.venv/

# model checkpoints (if you want to keep yours out of repo)

__pycache__/
nul
.vscode/
*.h5
*.pkl

# Secrets and environment variables
.env
.env.local
.env.production
.env.development
.env.staging
.env*
*.env
**/.env*
